<!-- <h1 class="header">Login with Firebase or Social Providers</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with Twitter</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>No account yet? <a href="/register">Create an account</a></p>
    </div>
  </div>
</div> -->

  <div class="formBody" style="margin-top: 30px">
    <div class="row" style="margin-right: 0%;">
      <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" [formGroup]="loginForm">
              <div class="form-label-group form-group">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Email address</mat-label>
                  <input matInput placeholder="Email address" formControlName="email" required autofocus>
                </mat-form-field>
              </div>
              <div class="form-label-group form-group" style="margin-top: -30px">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" type="password" formControlName="password" required>
                  <mat-hint class="error">{{errorMessage}}</mat-hint>
                </mat-form-field>
              </div>

              <!-- <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div> -->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="tryLogin(loginForm.value)" style="margin-top: -15px">Sign in</button>
            
              <hr class="my-3">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" (click)="tryGoogleLogin()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" #tooltip="matTooltip" matTooltip="Coming Soon..." matTooltipPosition="right"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
              <br>
              <p>No account yet? <a href="/register">Create an account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>